<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link href="https://fonts.googleapis.com/css?family=Poppins:300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/main.css">
	<title>Odchop</title>
</head>

<body class="grad4 ">
	<header>
		<nav class="navbar navbar-inverse">
			<div class="container">
				<div class="navbar-header nav-head">
					<!--menu hamburguesa-->
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-menu" aria-expanded="false">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="index.html">
						<img src="../assets/images/logo2.PNG" alt="logo-menu">
					</a>
					<h2 class="text-center subtitle-h2">Odchop</h2>
				</div>
				<div class="collapse navbar-collapse navbar-ex1-collapse ne" id="navbar-menu">
					<!--se posciona al lado derecho en desktop-->
					<ul class="nav navbar-nav navbar-right center-ul">
						<li>
							<a href="#">Quienes somos</a>
						</li>
						<li>
							<a href="#">Oficios</a>
						</li>
						<li>
							<a href="search-service.html">Clientes</a>
						</li>
						<li>
							<a href="#">Help</a>
						</li>
						<li>
							<a href="register.html">Login</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<div class="section-profile vh100 container-flex-column">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-md-5">
					<div class="img-profile">
						<img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNzEiIGhlaWdodD0iMTgwIj48cmVjdCB3aWR0aD0iMTcxIiBoZWlnaHQ9IjE4MCIgZmlsbD0iI2VlZSI+PC9yZWN0Pjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9Ijg1LjUiIHk9IjkwIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEycHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+MTcxeDE4MDwvdGV4dD48L3N2Zz4="
						 class="img-responsive">
						<figure id="imagen"></figure>
					</div>
					<form id="file-submit" enctype="multipart/form-data">
						<!-- seleccionar archivo -->
						<input id="file" name="file" type="file" />
					</form>
				</div>
				<div class="description icon">Descripcion</div>
			</div>
		</div>
	</div>
	</div>

	<!-- donde se colocaran las estrellas -->
	<script src="../vendors/js/jquery-3.2.1.min.js"></script>
	<script src="../vendors/raty-2.8.0/jquery.raty.js"></script>
	<script src="../vendors/bootstrap/js/bootstrap.min.js"></script>
	<script src="../js/data.js"></script>
	<script src="../js/profile-client.js"></script>
</body>

</html>


</html>